.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.header input {
    border-radius: 60px;
    border: none;
    background-color: blanchedalmond;
    padding: 0 0.9375rem;
}

.alignCenter {
    display: flex;
    align-items: center;
}